/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2016, 08:42:43
    Author     : Franz
*/
#barretache{margin-top: -40px;
            width: 100%;
            background-image: url(Bandeau.jpg);
           
            position : fixed;}


.ecart{visibility: hidden;
        width: 40px;
        height: 40px;}

.lien_barre{font-size: 20pt;
            color : white;
            text-decoration: none;}


#titre{margin-top: 40px;
background-size: cover;
width: 100.2%;
height: 200px; 
font-size : 100px;
background-image: url("Bandeau.jpg");
background-size: contain;
text-align:center;

color: white;
animation-name: bandeau;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-delay: 0s;
position : static;
padding-bottom: 20px;
border-style: solid;
border-color:black;

}
.image {display : none;
        vertical-align: middle;}
		
.formulaire {color : grey;
			 font-style : italic;
}		

.actu {
	margin-left : 20%;
	height : 100%;
	
	

	}
.tablo{
	margin-left : 0.5%;
  display:inline-block;
  vertical-align:top; 
  }

 .album{
	 
	 
	 margin-left:20%;
 }

.profil{
	margin-left:10%;
}        
		
@-webkit-keyframes bandeau{        
        0%      {background-image:url("Bandeau.jpg");background-size:100% 100%;background-repeat : no-repeat;}
        20%     {background-image:url("montagne.jpg");background-size:100% 100%;background-repeat : no-repeat; color:blue;}
        40%     {background-image:url("plage.jpg");background-size:100% 100%;background-repeat : no-repeat; color:green;}
        60%     {background-image:url("soir.jpg");background-size:100% 100%;background-repeat : no-repeat; color :yellow;}
        80%     {background-image:url("papier_bleu.gif");background-size:100% 100%;background-repeat : no-repeat; color:white; color: fuchsia;}
        100%    {background-image:url("Bandeau.jpg");background-size:100% 100%;background-repeat : no-repeat;}
}
        
 
